p {
    color: yellow;
    font-size:x-large;
    margin: auto;
    width: fit-content
}

a {
    color: #010101;
}

ul {
    font-size: x-large
}

img {
    width: 300px;
    height: 300px;
}

figcaption {
    font-size: large
}

pre {
    font-size: x-large
}

/*div.crucial {
    color: red;
    background-color: yellow;
    display: inline-block;
}*/

.crucial {
    color: rgb(100% 0% 0% / 50%);
    background-color: yellow;
    /*display: inline-block;*/
    width: fit-content;
    margin: auto;
    font-size: inherit;
}

body {
    margin: 10% 10% 10% 10%;
}

.main-content {
    width: inherit;
    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
}

.later-content {
    font-size: small;
}

.later-content p {
    font-size: inherit;
}

.later-content li {
    font-size: inherit;
}